.plates{
    display: inline-block;
    position: relative;
    object-fit: cover;
    height: 310px;
}
.plates-image {
    display: block;

}
.plates-firstoverlay{
    position: absolute;
    top: 150px;
    right: 460px;

    width: 23%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.plates-secondoverlay{
    position: absolute;
    top: 490px;
    right: 765px;

    width: 23%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.plates-thirdoverlay{
    position: absolute;
    top: 490px;
    left: 755px;

    width: 23%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.plates-overlay-title{
    font-size: 35px;
    color: #000000;
    margin-bottom: 0;
    text-align: left;
}

.plates-overlay-description{
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
}

.plates-firstoverlay p{
    font-size: 15px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
}

.plates-firstoverlay p a{
    font-size: 15px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
}

.plates-secondoverlay p{
    font-size: 15px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
}

.plates-secondoverlay p a{
    font-size: 15px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
}

.plates-thirdoverlay p{
    font-size: 15px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
}

.plates-thirdoverlay p a{
    font-size: 15px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
}